[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "amazeui"]
	path = amazeui
	url = ssh://vcs@goldman.ncodamusic.org/diffusion/AMUI/amazeUI.git
[submodule "ncoda_theme"]
	path = ncoda_theme
	url = ssh://vcs@goldman.ncodamusic.org/diffusion/34/ncoda-pelican-theme.git
