{% extends "base.html" %}

{# NB: it's an alphabetical list of languages #}

{% block content %}
<div class="am-container">
    {% if DEFAULT_LANG == 'de' %}
        {% include "homepage_content/de.html" %}
    {% elif DEFAULT_LANG == 'en' %}
        {% include "homepage_content/en.html" %}
    {% elif DEFAULT_LANG == 'fr' %}
        {% include "homepage_content/fr.html" %}
    {% elif DEFAULT_LANG == 'pt' %}
        {% include "homepage_content/pt.html" %}
    {% elif DEFAULT_LANG == 'zh_cn' %}
        {% include "homepage_content/zh_cn.html" %}
    {% endif %}
</div>
{% endblock content %}
