@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";


// 2. Set your own initial variables
// @import "font-eb-garamond";
// @import "font-oxygen";
// @import "font-spectral-sc";
// $family-sans-serif: 'Oxygen', sans-serif;
// $family-serif: 'EB Garamond', serif;
$size-1: 4.735rem;
$size-2: 3.552rem;
$size-3: 2.665rem;
$size-4: 1.999rem;  // large
$size-5: 1.5rem;  // medium
$size-6: 1.125rem;  // normal
$size-7: 0.844rem;  // small


// 3. Set the derived variables
// $family-primary: $family-serif;


// 4. Setup your Custom Colors


//5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
// $addColors: (
//     "yourColorName": ($theColor, $theColor-invert),
// );
// $colors: map-merge($colors, $addColors);


// 6. Import the rest of Bulma
@import "../node_modules/bulma/sass/utilities/_all";  // TODO: see if we need _all
@import "../node_modules/bulma/sass/base/_all";  // keep this

/* @import "../node_modules/bulma/sass/elements/_all"; */
@import "../node_modules/bulma/sass/elements/box";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/content";
/* @import "../node_modules/bulma/sass/elements/form"; */
// @import "../node_modules/bulma/sass/elements/icon";  // TODO: need later
/* @import "../node_modules/bulma/sass/elements/image"; */
@import "../node_modules/bulma/sass/elements/notification";
/* @import "../node_modules/bulma/sass/elements/progress"; */
@import "../node_modules/bulma/sass/elements/table";
@import "../node_modules/bulma/sass/elements/tag";
@import "../node_modules/bulma/sass/elements/title";
/* @import "../node_modules/bulma/sass/elements/other"; */

/* @import "../node_modules/bulma/sass/components/_all"; */
/* @import "../node_modules/bulma/sass/components/breadcrumb"; */
@import "../node_modules/bulma/sass/components/card";
/* @import "../node_modules/bulma/sass/components/dropdown"; */
/* @import "../node_modules/bulma/sass/components/level"; */
/* @import "../node_modules/bulma/sass/components/media"; */
/* @import "../node_modules/bulma/sass/components/menu"; */
/* @import "../node_modules/bulma/sass/components/message"; */
/* @import "../node_modules/bulma/sass/components/modal"; */
@import "../node_modules/bulma/sass/components/navbar";
/* @import "../node_modules/bulma/sass/components/pagination"; */
/* @import "../node_modules/bulma/sass/components/panel"; */
/* @import "../node_modules/bulma/sass/components/tabs"; */

/* @import "../node_modules/bulma/sass/grid/_all"; */
/* @import "../node_modules/bulma/sass/grid/columns"; */
@import "../node_modules/bulma/sass/grid/tiles";

@import "../node_modules/bulma/sass/layout/_all";
// "layout" contains hero, section, and footer---need them all


// 7. Import my own stuff
// body {
//     font-size: $size-normal;
// }
// .recent-articles-list .card-header-title {
//     align-items: flex-start;
//     flex-direction: column;
// }
// @import "content";
// @import "headings";
// @import "navbar";
// @import "typeset";  // from Typeset.js
