<nav class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
    <div class="rotation-hidey-class">
        <button class="am-btn am-topbar-btn am-dropdown-toggle coda-menu-button" data-am-dropdown-toggle>
            <img src="{{ main_siteurl }}/theme/img/logos/coda.png" alt="{{ SITENAME }}">
        </button>
    </div>
    <ul class="am-dropdown-content">
        <li><a href="{{ SITEURL }}/">Home</a></li>
        <li><a href="https://chat.ncodamusic.org/">Chat</a></li>
        <li><a href="https://spivak.ncodamusic.org/">Discussion Board</a></li>
        <li><a href="https://goldman.ncodamusic.org/">Repositories and Tasks</a></li>
        <li class="am-divider"></li>
        <li class="am-dropdown-header">APIs</li>
        <li><a href="https://lychee.ncodamusic.org/">Lychee</a></li>
    </ul>
</nav>
