<h1 class="am-text-center logoheading">
    <img alt="nCoda" src="{{ THEMEURL }}/img/logos/full-light-bg-optimized.svg">
</h1>
<h2 class="am-text-center subheading" style="font-size: 2.25em">macht Musik offen, gemeinschaftlich und programmierbar.</h2>

<div>
    <div>
        nCoda ist...
        <ul>
            <li>
                Software, die es Musikern auf der ganzen Welt erlaubt, Musik auf ganz neue
                Weise zu schaffen, zu analysieren und zu teilen.
            </li>
            <li>die Menschen hinter dieser Software</li>
        </ul>
        <p>
            Derzeit sind wir in der <em>Prototyp-Phase</em> der Entwicklung und empfehlen unsere
            Software nur für den experimentellen Gebrauch. Wir möchten die Zahl der Nutzer
            vergrößern, die <i>nCoda</i> testen und suchen insbesondere nach weiteren Unterstützern
            (Programmierer, Übersetzer, Designer etc.).
        </p>
        <p>
            Wenn Sie mitwirken möchten kontaktieren Sie uns bitte in unserem
            <a href="https://spivak.ncodamusic.org/t/getting-started-with-ncoda">
                Diskussionsforum&nbsp;<span class="am-icon-external-link"></span>
            </a>.
        </p>
        <p>
            <a href="https://github.com/nCoda/macOS/releases" rel="_nofollow">
                Hier&nbsp;
                <span class="am-icon-external-link"></span>
            </a>
            können Sie die aktuelle (Alpha) Version von nCoda für macOS herunterladen Oder laden Sie die Linux-Version
            <a href="https://github.com/nCoda/Linux_Bundles/releases" rel="_nofollow">
                hier herunter&nbsp;
                <span class="am-icon-external-link"></span>
            </a>.
        </p>
    </div>

    <hr class="am-article-divider">

    <h3>Preview</h3>
    <ul class="am-gallery am-gallery-overlay am-avg-sm-2">
        {# NOTE: we could make this even fancier with the amazeUI Handlebars plugin (see AMUI API) #}
        <li>
            <figure class="am-gallery-item">
                <a href="{{ THEMEURL }}/img/homepage/CodeScoreView.png">
                    <img src="{{ THEMEURL }}/img/homepage/CodeScoreView.png"  alt="">
                </a>
                <figcaption class="am-gallery-title">
                    <dfn>CodeScoreView</dfn>: schreiben die Musik als Code und Partitur.
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="am-gallery-item">
                <a href="{{ THEMEURL }}/img/homepage/StructureView.png">
                    <img src="{{ THEMEURL }}/img/homepage/StructureView.png" alt="">
                </a>
                <figcaption class="am-gallery-title">
                    <dfn>StructureView</dfn>: navigieren und eine Hierarchie der Abschnitte bearbeiten.
                </figcaption>
            </figure>
        </li>
    </ul>

    <hr class="am-article-divider">

    <h3>Technologie-Komponenten</h3>
    <p>
        <i>nCoda</i> basiert auf robusten Open Source-Komponenten und folgt erprobten
        Entwicklungsstrategien der Open Source-Community.
    </p>

    {% include "homepage_content/tech_notes.html" %}

    <hr class="am-article-divider">

    <h3>Beteiligen Sie sich</h3>
    <p>
        Testen Sie unseren öffentlichen Prototypen auf
            <a href="https://goldman.ncodamusic.org/diffusion/NC/">
                Phabricator&nbsp;<span class="am-icon-external-link"></span>
            </a>.
    </p>
    <p>
        Diskutieren Sie mit auf
            <a href="https://spivak.ncodamusic.org/t/getting-started-with-ncoda">
                Discourse&nbsp;<span class="am-icon-external-link"></span>
            </a>.
    </p>
</div>
