<ul class="am-avg-sm-2 am-avg-md-5 am-text-center tech-list">
    <li>
        <a href="http://music-encoding.org/" target="new">
            <img src="{{ THEMEURL }}/img/mei.png" alt="Music Encoding Initiative (MEI)" title="Music Encoding Initiative (MEI)">
        </a>
    </li>
    <li>
        <a href="http://lilypond.org/" target="new">
            <b>LilyPond</b>
        </a>
    </li>
    <li>
        <a href="https://www.mercurial-scm.org" target="new">
            <img src="{{ THEMEURL }}/img/mercurial-logo.png" alt="Mercurial" title="Mercurial">
        </a>
    </li>
    <li>
        <a href="http://abjad.mbrsi.org/" target="new">
            <img src="{{ THEMEURL }}/img/abjad-logo.png" alt="Abjad" title="Abjad">
        </a>
    </li>
    <li>
        <a href="http://www.verovio.org/" target="new">
            <img src="{{ THEMEURL }}/img/verovio.png" alt="Verovio" title="Verovio">
        </a>
    </li>
</ul>
