<h1 class="am-text-center logoheading">
    <img alt="nCoda" src="{{ THEMEURL }}/img/logos/full-light-bg-optimized.svg">
</h1>
<h2 class="am-text-center subheading">让乐谱法阳光，合作，编程的</h2>

<div>
    <div>
        nCoda&nbsp;是：
        <ul>
            <li>软件使世界各地音乐家的创作，分析和共享乐谱以新的方式。</li>
            <li>人们编写这个软件。</li>
        </ul>
        <p>
            We&apos;re currently in the <em>prototype phase</em> of development, so we recommend
            using our software for experimental work only. We are looking to expand the number of
            users testing <i>nCoda</i>, and we are especially looking for new contributors
            (programmers, translators, designers, and so on).
        </p>
        <p>
            If you&apos;re interested in contributing, get in touch on our
            <a href="https://spivak.ncodamusic.org/t/getting-started-with-ncoda">
                discussion board&nbsp;<span class="am-icon-external-link"></span>
            </a>!
        </p>
    </div>

    <hr class="am-article-divider">

    <h3>预览</h3>
    <ul class="am-gallery am-gallery-overlay am-avg-sm-2">
        {# NOTE: we could make this even fancier with the amazeUI Handlebars plugin (see AMUI API) #}
        <li>
            <figure class="am-gallery-item">
                <a href="{{ THEMEURL }}/img/homepage/CodeScoreView.png">
                    <img src="{{ THEMEURL }}/img/homepage/CodeScoreView.png"  alt="">
                </a>
                <figcaption class="am-gallery-title">
                    <dfn>CodeScoreView</dfn>：双管齐下（文本编辑器和乐谱）。
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="am-gallery-item">
                <a href="{{ THEMEURL }}/img/homepage/StructureView.png">
                    <img src="{{ THEMEURL }}/img/homepage/StructureView.png" alt="">
                </a>
                <figcaption class="am-gallery-title">
                    <dfn>StructureView</dfn>:  浏览不同级别的音乐章节。
                </figcaption>
            </figure>
        </li>
    </ul>

    <hr class="am-article-divider">

    <h3>技术组件</h3>
    <p>
        nCoda&nbsp;汲取了很多优秀的社区资源，通过开源的形式来回馈社区。
    </p>

    {% include "homepage_content/tech_notes.html" %}

    <hr class="am-article-divider">

    <h3>参加</h3>
    <p>
        下载我们的测试：
            <a href="https://goldman.ncodamusic.org/diffusion/NC/">
                Phabricator&nbsp;<span class="am-icon-external-link"></span>
            </a>.
    </p>
    <p>
        说说&nbsp;nCoda：
            <a href="https://spivak.ncodamusic.org/t/getting-started-with-ncoda">
                Discourse&nbsp;<span class="am-icon-external-link"></span>
            </a>.
    </p>
</div>
